<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-start-on-boot" version="1.1.0">
    <name>Start App on Boot</name>
    <description>Start App on Boot plugin</description>
    <license>MIT</license>
    <keywords>phonegap, startup</keywords>
    <repo>https://github.com/tsubik/cordova-plugin-start-on-boot.git</repo>
    <issue>https://github.com/tsubik/cordova-plugin-start-on-boot/issues</issue>

    <description>
        Starting application on device boot completed
    </description>

    <engines>
        <engine name="cordova" version=">=2.7.0" />
    </engines>

    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.tsubik.cordova.start_on_boot.StartOnBootReceiver" android:enabled="true" android:exported="true">
                <intent-filter android:priority="2147483647">
                    <category android:name="android.intent.category.DEFAULT"/>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>

        <source-file src="src/android/StartOnBootReceiver.java" target-dir="src/com/tsubik/cordova/start_on_boot" />
    </platform>
</plugin>
